---
layout: default
redirect_to: "{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url={{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}">
    <title>Redirecting...</title>
</head>
<body>
    <p>If you are not redirected automatically, follow this <a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}">link to the PDF</a>.</p>
</body>
</html>
